@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-elements {
    @apply max-w-6xl mx-auto;
  }
}
.animate-colorCycle {
  animation: colorCycle 6s linear infinite;
}
body{
  background-color: wheat;
}
.body h1{
  background-color: wheat;
  color: black;
}
.box{
  color: black;
}
.box-link{
  display: flex;
  align-items: center;
  gap: 30px;
  color:  black;
}
.box-page{
  color: black;
}